<div class="row">

  <div class="col-6 text-left ">
    <h1>Chat</h1>
  </div>
  <div class="col-6 text-right">
    <img [src]="chatSrv.userData.avatar" class="app-chat-avatar">
  </div>
</div>
<hr>

<div class="app-mensajes" id="app-mensajes">

  <div class="app-my-msg" *ngFor="let c of chatSrv.chats " [ngClass]="{'text-right': chatSrv.userData.uid === c.uid}">
    <span class="badge" [ngClass]="{'badge-primary': chatSrv.userData.uid === c.uid, 
                        'badge-success': chatSrv.userData.uid !== c.uid}">{{c.nombre}}</span>
    <p>{{c.mensaje}}</p>
  </div>

</div>

<hr>

<!-- <input [(ngModel)]="mensajes" type="text" name="mensajes" class="form-control" placeholder="Enter message"
  (keyup.enter)="sendMessage()"> -->

<div class="input-group mb-3">
  <input [(ngModel)]="mensajes" type="text" name="mensajes" class="form-control" placeholder="Enter message"
    (keyup.enter)="sendMessage()">
  <div class="input-group-append">
    <button class="btn btn-outline" type="button" (click)="sendMessage()"><i
        class="fas fa-paper-plane app-send-icon"></i></button>
  </div>
</div>