
    <h1 class="text-left">Login</h1>
    <hr>
    <h3>Select an Account to login</h3>
    <div class="row text-center">
        
      <div class="col-md-6 text-right">
        <button type="button" class="btn btn-primary"  (click)="loginChat('google')" > GOOGLE <i class="fab fa-google"></i> </button>
      </div>
      <div class="col-md-6 text-left">
        <button type="button" class="btn btn-info" (click)="loginChat('twitter')" > TWITTER <i class="fab fa-twitter"></i> </button>
      </div>
    </div>


